<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
    <link rel="icon" href="/img/icon.png">
</head>

<body>
    <div class="main-conetent">
        {{>header}}
        <p>{{errorMsg}}</p>
    </div>
    {{>footer}}
</body>
</html>