<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and darksky.net to fetch location and weather information inputed by the user.</p>
        <img class="portrait" src="/img/sam.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>